.cabecalho {
    width: 100%;
    height: 7em;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    background-color: var(--color-cards);
    color: var(--color-branca);

    position: fixed;
    z-index: 9999;
}

.logo {
    width: 20%;
    height: 100%;
    max-width: 25%;


}

.logo a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    cursor: auto;
}

.caixa-icone {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .5em;
}

.caixa-icone svg {
    transform: rotate(-45deg);
    min-width: 1.6em;
    min-height: 1.6em;

    margin: auto;
}

.logo a p {
    color: var(--color-branca);
    font-family: Orbitron;
    font-size: 2rem;
}

.logo a>p>span {
    color: var(--color-primary);
}

.nav-bar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 3em 0;
}

.menu {
    width: 70%;
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: start;
    align-items: center;
}

.menu a {
    color: var(--color-cinza);
    padding: 1em 2em;
    transition: .555s;
}

.menu a:hover {
    color: var(--color-branca);
}

#botao-reservar {
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-primary);
    transition: .333s ease-in-out;
    padding: .7em 1.4em;
}

#botao-reservar:hover {
    background-color: var(--color-branca);
}