.cabecalho {
    width: 100%;
    max-width: 100%;
    display: flex;
    min-height: 6em;
    height: 7em;
    background-color: var(--color-cards);
    color: var(--color-branca);

    box-shadow: 1px 10px 20px -5px #313131;

    position: fixed;
    z-index: 9999;
}

#container-menu {
    transition: height .555s ease-in-out;
}

.logo {
    width: 20%;
    height: 100%;
    max-width: 25%;
}

.logo a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    cursor: auto;
}

.caixa-icone {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .5em;
}

.caixa-icone svg {
    transform: rotate(-45deg);
    min-width: 1.6em;
    min-height: 1.6em;

    margin: auto;
}

.logo a p {
    color: var(--color-branca);
    font-family: Orbitron;
    font-size: 2rem;
}

.logo a>p>span {
    color: var(--color-primary);
}

.nav-bar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 3em 0;
}

#menu-toggle,
.icone-hamburguer {
    display: none;
}

.menu {
    width: 100%;
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .555s ease-out;
}

.menu a {
    color: var(--color-cinza);
    padding: 1em 2em;
    transition: .555s;
}

.menu a:hover {
    color: var(--color-branca);
}

#botao-reservar {
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-primary);
    transition: .333s ease-in-out;
    padding: .7em 1.4em;
    color: var(--color-preta);
    margin-left: 10em;
}

#botao-reservar:hover {
    color: var(--color-preta);
    background-color: var(--color-branca);
}

.menu-rolado {
    width: 100%;
    height: 9em;
    display: flex;
    background-color: var(--color-cards);
    color: var(--color-branca);
    box-shadow: none;

    position: fixed;
    z-index: 9999;

}

/* 
=============
Media Queries
=============
 */


@media(max-width: 1080px) {
    #botao-reservar {
        transition: .444s ease-in;
        margin-left: 5em;
    }
}

@media(max-width: 992px) {
    #botao-reservar {
        margin-left: 1em;
    }

    .menu a {
        color: var(--color-cinza);
        padding: .5em 1em;
        transition: .555s;
    }
}


@media (max-width: 768px) {

    .logo {
        width: 30%;
        padding: 1.5em 0em 1.5em 5em;
    }

    .nav-bar {
        width: 70%;
        padding: 0;
        justify-content: end;
        align-items: center;
    }

    .menu,
    a#botao-reservar {
        display: none;
    }

    label.icone-hamburguer {
        display: flex;
        font-size: 3rem;
        color: var(--color-branca);
    }

    #menu-toggle:checked+.menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        min-height: 10em;
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: var(--color-primary);
        transition: .555s ease;
        justify-content: center;
    }

    .menu li {
        width: 100%;
        text-align: center;
    }

    .menu a {
        display: block;
        text-align: center;
        width: 100%;
        color: var(--color-preta);
        font-size: 1.9rem;
        padding: .5em;
    }
}