* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-family: arial;
    text-decoration: none;
    color: initial;
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --color-primary: #00c8f0;
    --color-secundary: #0d2240;
    --color-terciaria: #ff9900;
    --color-cards: #071525;
    --color-branca: #ffffff;
    --color-preta: #000000;
    --color-cinza: #8b8b8b;
    --color-hover: #0a1e35;
    --texto-principal: #e2eaf5;

    --cor-bordas: #00c8f01f;

    --background-geral: #030a14;
}

a.item-menu {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

html {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--background-geral);
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2em 0;
    box-sizing: border-box;
}

.icone {
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icone>svg {
    width: 100%;
    min-width: 1.3em;
    min-height: 1.3em;
}

.pad {
    padding-top: 9em;
}

.color-blue {
    color: var(--color-primary);
}

.color-yellow {
    color: var(--color-terciaria);
}

.faixa-mensagem {
    color: var(--color-primary);
    font-size: 1.1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: .3em 1.2em;
    border: 1px solid color-mix(in srgb, var(--color-primary) 34%, var(--color-secundary) 35%);
    background-color: color-mix(in srgb, var(--color-primary) 18%, var(--color-preta) 82%);
    margin-bottom: 2em;
}

.faixa-mensagem p {
    width: fit-content;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sessao .title-sessao {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--color-branca);
    font-family: Orbitron;
    line-height: 1;
    margin-bottom: 2rem;
}

.title-sessao {
    text-transform: uppercase;
    color: var(--color-branca);
    font-family: Orbitron;
    line-height: 1;
    font-size: 5em;
    margin-bottom: 2rem;
}

.subtitle-sessao {
    width: 45%;
    font-size: 2rem;
    color: color-mix(in srgb, var(--color-branca) 45%, var(--color-primary) 15%);
    margin-bottom: 2em;
}

.sessao {
    width: 100%;
    height: fit-content;
    min-height: 38em;
    margin: 0 auto;
}

.linha-sessao {
    width: 100%;
    height: .1em;
    padding: 0;
    background-image: linear-gradient(to right, var(--color-cards), var(--color-primary), var(--color-cards));
}

.conteudo-principal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: fit-content;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 10em 0 0;
    margin: 0 auto;
}

/* MEdia querie */

@media(max-width: 768px) {
    body {
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .subtitle-sessao {
        width: 100%;
        font-size: 2rem;
        color:
            color-mix(in srgb, var(--color-branca) 45%, var(--color-primary) 15%);
        margin-bottom: 2em;
    }

    a.item-menu {
        border-bottom: 2px solid var(--color-cards);
        color: var(--color-branca);
    }

    .container {
        padding: .5px;
    }
}